<h1>Listing threads</h1>
Total unread thread for <%= current_user.email %> is ::
<span><%= Discussion::Thread.total_unread_by(current_user) %></span>

<%= render :partial => "discussion/threads/list" %>