<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @thread.subject %>
</p>

<p>
  <b>Initiator:</b>
  <%= @thread.initiator.try(:email) %>
</p>

<%= load_comments_for(@thread, lazy: true) %>