<div class="box-content padded">

  <div class="chat-comment-box">
    <%= f.text_area :body, rows: 5, placeholder: "add a comment (click to expand!)", richtext: true %>
  </div>

  <div class="clearfix actions">
    <div class="pull-right faded-toolbar">
      <%= f.submit 'Send', class: 'btn btn-blue btn-mini', 'data-disable-with' => 'Sending' %>
    </div>
  </div>
</div>